<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.importtao.seckillbackend.dao.GoodsModelMapper" >
  <resultMap id="BaseResultMap" type="me.importtao.seckillbackend.model.GoodsModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="discription" property="discription" jdbcType="VARCHAR" />
    <result column="model_code" property="modelCode" jdbcType="TINYINT" />
    <result column="inventry" property="inventry" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, discription, model_code, inventry, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.importtao.seckillbackend.model.GoodsModel" >
    insert into goods_model (id, goods_id, discription, 
      model_code, inventry, version
      )
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=VARCHAR}, #{discription,jdbcType=VARCHAR}, 
      #{modelCode,jdbcType=TINYINT}, #{inventry,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="me.importtao.seckillbackend.model.GoodsModel" >
    insert into goods_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="discription != null" >
        discription,
      </if>
      <if test="modelCode != null" >
        model_code,
      </if>
      <if test="inventry != null" >
        inventry,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="discription != null" >
        #{discription,jdbcType=VARCHAR},
      </if>
      <if test="modelCode != null" >
        #{modelCode,jdbcType=TINYINT},
      </if>
      <if test="inventry != null" >
        #{inventry,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.importtao.seckillbackend.model.GoodsModel" >
    update goods_model
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="discription != null" >
        discription = #{discription,jdbcType=VARCHAR},
      </if>
      <if test="modelCode != null" >
        model_code = #{modelCode,jdbcType=TINYINT},
      </if>
      <if test="inventry != null" >
        inventry = #{inventry,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.importtao.seckillbackend.model.GoodsModel" >
    update goods_model
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      discription = #{discription,jdbcType=VARCHAR},
      model_code = #{modelCode,jdbcType=TINYINT},
      inventry = #{inventry,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from goods_model
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>

  <!--删除商品所有型号-->
  <delete id="deleteByGoodsId" parameterType="java.lang.String" >
    delete from goods_model
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>

  <select id="selectMaxModelCode"  resultType="java.lang.Byte" parameterType="java.lang.String" >
    select
     count(model_code)
    from goods_model
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>

  <!--查询库存-->
  <select id="selectInventry"  resultType="java.lang.Integer">
    select
      inventry
    from goods_model
    where goods_id = #{goodsId,jdbcType=VARCHAR}
    and model_code = #{modelCode,jdbcType=TINYINT}
  </select>
  <!--更新库存-->
  <update id="updateInventry">
    update goods_model
    set
    inventry = #{inventry,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
    and model_code = #{modelCode,jdbcType=TINYINT}
  </update>
</mapper>