<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.importtao.seckillbackend.dao.SeckillTimeMapper" >
  <resultMap id="BaseResultMap" type="me.importtao.seckillbackend.model.SeckillTime" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, begin_time, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from seckill_time
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from seckill_time
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.importtao.seckillbackend.model.SeckillTime" >
    insert into seckill_time (id, goods_id, begin_time, 
      end_time)
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="me.importtao.seckillbackend.model.SeckillTime" >
    insert into seckill_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.importtao.seckillbackend.model.SeckillTime" >
    update seckill_time
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.importtao.seckillbackend.model.SeckillTime" >
    update seckill_time
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from seckill_time
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>

  <select id="selectExitByGoodsId" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    count(*)
    from seckill_time
    where goods_id = #{goodsId,jdbcType=VARCHAR}
    limit 0,1
  </select>

  <select id="selectTest" resultType="java.lang.Integer">
    select
    count(*)
    from seckill_time
    where goods_id = #{goodsId,jdbcType=VARCHAR}
          and  #{dateTime,jdbcType=TIMESTAMP}> begin_time
          and end_time > #{dateTime,jdbcType=TIMESTAMP}
  </select>

  <!--查询当前是否属于秒杀时间-->
  <select id="selectIsSeckillByDate" resultType="java.lang.Integer" >
    select
    count(*)
    from seckill_time
    where goods_id = #{goodsId,jdbcType=VARCHAR}
    and  #{dateTime,jdbcType=TIMESTAMP}> begin_time
    and end_time > #{dateTime,jdbcType=TIMESTAMP}
  </select>
</mapper>