<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.importtao.seckillbackend.dao.UserSequenceMapper" >
  <resultMap id="BaseResultMap" type="me.importtao.seckillbackend.model.UserSequence" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="today_date" property="todayDate" jdbcType="DATE" />
    <result column="max_sequence" property="maxSequence" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, today_date, max_sequence, update_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_sequence
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date" >
    delete from user_sequence
    where today_date = #{todayDate,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="me.importtao.seckillbackend.model.UserSequence" >
    insert into user_sequence (today_date, max_sequence, update_time, 
      status,id)
    values (#{todayDate,jdbcType=DATE}, #{maxSequence,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.importtao.seckillbackend.model.UserSequence" >
    insert into user_sequence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="todayDate != null" >
        today_date,
      </if>
      <if test="maxSequence != null" >
        max_sequence,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="todayDate != null" >
        #{todayDate,jdbcType=DATE},
      </if>
      <if test="maxSequence != null" >
        #{maxSequence,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.importtao.seckillbackend.model.UserSequence" >
    update user_sequence
    <set >
      <if test="maxSequence != null" >
        max_sequence = #{maxSequence,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where today_date = #{todayDate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.importtao.seckillbackend.model.UserSequence" >
    update user_sequence
    set max_sequence = #{maxSequence,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>